@charset "UTF-8";

hr {
    font-size: 1.5em;
    margin-bottom: .75em;
    text-transaform: lowercase;
}

aside h2 {
    font-size: .9375em;
    margin-bottom: 3px;
    text-transaform: lowercase
}

#main {
    float: left;
    width: 72%;
}

#footer {
    clear: left;
}

.bloghead {
	text-align: center;
	font-size: 2.0em;
	margin-top: 20px;
	margin-bottom: 20px;
}

body {
	font-size: 16px;
}

.blogsummarytitle {
	font-size: 1.2em;
	color: #00f;
	border-top-style: solid;
	border-top-color: #a0a0a0;
	border-width: 1px;
	padding-top: 5px;
	margin: 5px 0 5px 0;
}

.blogsummarytitle a {
	color: #008181;
	text-decoration: none;
}

.blogsummarycontent {
	font-size: 1em;
	margin:3px 0 3px 0;
	line-height: 1.2;
}

#menu {
	float: right;
	width: 200px;
	height: 400px;
	background-color: #eee;
}

.menuitem {
	margin: 5px 0 15px 0;
	text-decoration: none;
}

/* blog begin */

#blogtitle {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 15px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
}

.objectivec-code {
	background: #e0e0e0;
}

#blogcontent {
	margin-left: 2%;
	margin-right: 2%;
}

section {
	margin-top: 0px;
	margin-bottom: 50px;
	clear: left;
}

.photo {
	float: left;
	clear: left;
}

img.photo {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.paragraph {
	clear: left;
	margin-top: 10px;
	margin-bottom:10px;
}

/* blog 2 test */
.test {
	
}

#div1 {
	width: 200px;
	height: 200px;
	background: #f00;
}

#div2 {
	width: 300px;
	height: 300px;
	float: left;
	background: #00f;
}

#div3 {
	width: 400px;
	height: 400px;
	float: left;
	clear: left;
	background: #0f0;
}